name: Node.js CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    # CHANGE THIS LINE
    runs-on: self-hosted 

    defaults:
      run:
        # Based on your image image_d7ca63.jpg, your folder name is 'BACKEND' (all caps)
        working-directory: ./BACKEND

    steps:
    - uses: actions/checkout@v4

    - name: Use Node.js 22.x
      uses: actions/setup-node@v4
      with:
        node-version: '22.x'
        cache: 'npm'
        # Matching your folder name 'BACKEND'
        cache-dependency-path: './BACKEND/package-lock.json'

    - name: Install dependencies
      run: npm ci

    - name: Build project
      run: npm run build --if-present

    - name: Setup Environment File
      run: |
          touch .env
          echo "MONGO_URI=${{ secrets.MONGO_URI }}" > .env
