name: Node.js CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: self-hosted 

    defaults:
      run:
        working-directory: ./BACKEND

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4

    - name: Use Node.js 22.x
      uses: actions/setup-node@v4
      with:
        node-version: '22.x'
        cache: 'npm'
        cache-dependency-path: './BACKEND/package-lock.json'

    - name: Install dependencies
      run: npm ci

    - name: Create .env file
      run: |
        touch .env
        # Use Option A (Fixing secrets) or update this line to match your secret format
        echo "MONGO_URI=${{ secrets.MONGO_URI }}" > .env
        echo "PORT=${{ secrets.PORT }}" >> .env

    - name: Build project
      run: npm run build --if-present
